beautifulsoup4==4.6.0
certifi==2017.7.27.1
chardet==3.0.4
Django==2.2.24
django-admin-row-actions==0.0.2
django-countries==4.6.1
django-inline-actions==1.1.0
django-nested-admin==3.0.20
django-object-actions==0.10.0
djangorestframework==3.6.3
idna==2.5
python-monkey-business==1.0.0
pytz==2017.2
requests==2.18.3
six==1.10.0
urllib3==1.22
